<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap-4.1.2/bootstrap.min.css">
    <!-- <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" type="text/css" href="../styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/responsive.css">

    <title>Document</title>
</head>
<body>
    <div class="home">
		<div class="home_background"></div>
		<div class="background_image background_city" style="background-image:url(images/city.png)"></div>
		<div class="cloud cloud_1"><img src="../images/cloud.png" alt=""></div>
		<div class="cloud cloud_2"><img src="../images/cloud.png" alt=""></div>
		<div class="cloud cloud_3"><img src="../images/cloud_full.png" alt=""></div>
		<div class="cloud cloud_4"><img src="../images/cloud.png" alt=""></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content text-center">
							<div class="home_title">The Best Hosting Offers</div>
							<div class="home_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-10 offset-lg-1">
						<div class="domain_search_form_container">
							<form action="#" id="domain_search_form" class="domain_search_form d-flex flex-md-row flex-column align-items-center justify-content-start">
								<div class="d-flex flex-row align-items-center justify-content-start">
									<input type="text" class="domain_search_input" placeholder="Nhập từ cần tìm" required="required">
									<!-- <div class="domain_search_dropdown d-flex flex-row align-items-center justify-content-start">
										<i class="fa fa-chevron-down" aria-hidden="true"></i>
										<div class="domain_search_selected">.io</div>
										<ul>
											<li>.io</li>
											<li>.com</li>
											<li>.net</li>
										</ul>
									</div> -->
								</div>
								<button class="domain_search_button d-flex flex-row align-items-center justify-content-center"><img src="images/search.png" alt="">Tìm kiếm</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>